#auth{
    width: 80%;
    display: flex;
    flex-wrap: wrap;

    label {
        margin: 10px 0px;
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }
        p{
        margin: 3px;
        min-width:20%
    }

    input{ 
        flex: auto;
        max-width: 100%;
        min-width: 30%;
        height: 40px;
        border-radius: 100px;
        padding: 8px; /* 패딩을 줄여 입력 필드 크기 조정 */
        border: 1px solid #ccc;
        margin-right: 10px; /* 입력 필드 간 간격 */
        box-sizing: border-box; /* 패딩과 테두리를 포함하여 너비 계산 */
    }
}
.auth {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    form {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
}