.Advance_directive_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.Advance_directive_container .top-bar {
    background-color: #ffe4c8;
    width: 100%;
    height: 60px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.Advance_directive_container p {
    font-size: 13px;
}

.Advance_directive_main {
    position: relative;
    width: 30px;
    height: 30px;
    background: url("icons/back_button.svg") no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    color: transparent;
    position: sticky;
    left: 3%;
    top: 1%;
    outline: none;
}

.Advance_directive_search {
    background-color: #ff9d74;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.2s;
}
