.Memory_locker_container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.Memory_locker_container .top-bar {
    background-color: #8f8f8f;
    width: 100%;
    height: 60px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.Memory_locker_container .top-bar input {
    margin: 0;
    min-width: 25%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.locker_main {
    position: relative;
    width: 30px;
    height: 30px;
    background: url("icons/back_button.svg") no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    color: transparent;
    position: sticky;
    left: 3%;
    top: 1%;
    outline: none;
}

.File_upload {
    position: relative;
    width: 30px;
    height: 30px;
    background: url("icons/Save.svg") no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    color: transparent;
    position: sticky;
    right: 3%;
    top: 1%;
    outline: none;
}

.File_select {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    background-color: #f1b86200;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.2s;
}

.File_delect {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    position: fixed;
    right: 120px;
    top: 10px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.2s;
}

.preview_display {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

.files {
    display: flex;
    width: 90%;
    height: max-content;
}

.file-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.file-item {
    display: flex;
    flex: 1 0 40%;
    max-width: 50%;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.file-item button {
    position: relative;
    width: 100%;
}

.responsive-image,
.responsive-video {
    width: 100%;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-container {
    position: relative;
    max-width: 90%;
    max-height: 90%;
}

.display-image,
.display-video {
    width: 100%;
    height: auto;
}
