.Mind_checklist_Container {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;

    h4{
        padding: 10%;
        margin-top: -5%;
    }

}
.Mind_checklist_main{
    width: 80px;
    height: 45px;
    background-color: #f1b862;
        font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    position: fixed;
    left: 0px;
    top: 0px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.2s;	
  }

.Mind_checklist_save{
    width: 80px;
    height: 45px;
    background-color: #f1b862;
        font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    position: fixed;
    right: 0px;
    top: 0px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.2s;
}

.Mind_checklist_set{
    min-width: 100%;
	padding: 12px 15px 12px 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
    margin-left: -5%;
    margin-top: 10%;
}

.Mind_checklist_add{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f1b862;
        font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 5px;
}