.phoneListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.phoneListContainer .top-bar {
    background-color: #ffe4c8;
    width: 100%;
    height: 60px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.phoneListContainer form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.phoneListContainer form input {
    margin: 0;
    min-width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3%;
    box-sizing: border-box;
}

.phoneListContainer form input:first-child {
    flex: 1;
    max-width: 20%;
}

.phoneListContainer form input:last-child {
    flex: 2;
    max-width: 30%;
}

.phoneListContainer ul {
    width: 80%;
    padding: 0;
    list-style-type: none;
}

.phoneListContainer ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    border-bottom: 1px solid #ccc;
}

.phoneListContainer ul li span {
    flex: 1;
}


.Phone_number_main {
    position: relative;
    width: 30px;
    height: 30px;
    background: url("icons/back_button.svg") no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    color: transparent;
    position: sticky;
    left: 3%;
    top: 1%;
    outline: none;
}

.Phone_number_save {
    position: relative;
    width: 30px;
    height: 30px;
    background: url("icons/Save.svg") no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    color: transparent;
    position: sticky;
    right: 3%;
    top: 1%;
    outline: none;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: nowrap;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

form input {
    margin: 0;
    min-width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3%;
    box-sizing: border-box;
}

.phone_Number_add {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 25px;
}
