.volunteer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    position: relative;
    min-height: 100vh;
    overflow-y: auto;
}

.volunteer-container .top-bar {
    background-color: #ffe4c8;
    width: 100%;
    height: 60px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.volunteer-menu-button {
    position: relative;
    width: 30px;
    height: 30px;
    background: url("icons/back_button.svg") no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    color: transparent;
    position: sticky;
    left: 3%;
    top: 1%;
    outline: none;
}

.volunteer-title {
    font-size: 26px;
}

.volunteer-description {
    margin: 20px 0;
    font-size: 1em;
    line-height: 1.5;
}

.volunteer-iframe {
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 10px;
    scrollbar-width: none;
}
