.Will_Write_container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.Will_Write_container .top-bar {
    background-color: #ffe4c8;
    width: 100%;
    height: 60px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.Will_Write_main {
    position: relative;
    width: 30px;
    height: 30px;
    background: url("icons/back_button.svg") no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    color: transparent;
    position: sticky;
    left: 3%;
    top: 1%;
    outline: none;
}

.action-button,
.audio-button,
.mode-button,
.text-button {
    border: none;
    color: white;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    width: 200px;
}

.action-button:hover,
.audio-button:hover,
.mode-button:hover,
.text-button:hover {
    background-color: #00000000;
}

.mode-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

textarea {
    min-width: 97%;
    min-height: 500px;
}

.audio-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

audio {
    display: block;
    margin-top: 10px;
    width: 100%;
}
