.nav {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    min-height: 8%;
    height: 30px;
    max-height: 10%;
    align-items: center;
    border-top: 2px solid whitesmoke;
    background-color: #ffffff;
}

.nav #line {
    border-right: 1px solid whitesmoke;
    background-color: #ffffff00;
    width: 1px;
    height: 60%;
}

.nav button {
    margin: 0;
    border-radius: 0;
    height: 100%;
    flex: 1 1 0;
    align-self: stretch;
    background-color: #ffffff00;
    color: black;
}

.nav button:hover {
    background-color: #f1f1f1;
}
